<a name="portfolio" class="js-scroll-section"></a>
<div class="title_section">
    Портфолио
</div>

<% @portfolios.each_with_index do |portfolio, index| %> 
    <div class="portfolio">  

        <div class="portfolio_name">
            #<%=(index + 1)%>
            <b><%=portfolio.name%></b>
        </div>
        <a href="<%=portfolio.web_site%>" target="_blank" class="portfolio_website">
            🔗 <%=URI(portfolio.web_site).host%>
        </a>

        <div class="portfolio_images">
            <% portfolio.images.each do |image| %>
                <a href="<%= url_for(image.src.variant(:detail))%>" data-gallery="portfolio_<%= portfolio.id %>" class="glightbox portfolio_image">
                    <img src="<%= url_for(image.src.variant(:thumb))%>" alt="">
                    <div class="portfolio_image_caption">
                        <%= image.caption %>
                    </div>
                </a>
            <% end %>
        </div>

        <div class="portfolio_stacks">
          <div class="portfolio_stacks_title">
            Стек:
          </div>
          <% portfolio.stacks.order(name: :asc).each do |stack| %>
              <div class="portfolio_stack"><%=stack.name%></div>
          <% end %>
        </div>
        
        <div class="portfolio_description">
            <div class="portfolio_description_title">
                <span>🗒️</span> Описание проекта: 
            </div>
            <div class="portfolio_description_text">
                <%=raw portfolio.description%>
            </div>
        </div>

        <div class="portfolio_description">
            <div class="portfolio_description_title">
                <span>💻</span> Что я сделал: 
            </div>
            <div class="portfolio_description_text">
                <%=raw portfolio.what_did_do.gsub("\n","<br>")%>
            </div>
        </div>
    </div>  
<% end %>