<!DOCTYPE html>
<html>
<head>
  <title>Петров Александр. Резюме.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "#{controller_name}/#{action_name}", "data-turbo-track": "reload" %>

  <%= javascript_include_tag "application",:defer => "defer" %>
  <%= javascript_include_tag "#{controller_name}/#{action_name}",:defer => "defer" %>

</head>

<body>

  <%= render 'layouts/car' %>

  <div class="wrap">
    <div class="left_menu">
      <div class="content">
        <a href="/">
          <img class="left_menu_avatar" src="/img/index/avatar.png" alt="">
        </a>
        <ul class="main_menu">
          <li class="active">
            <a href="/#hello">Hello world!</a>
          </li>
          <li>
            <a href="/#work_experience">Опыт работы</a>
          </li>
          <li>
            <a href="/#portfolio">Портфолио</a>
          </li>
          <li>
            <a href="/#about_me">Обо мне</a>
          </li>
          <li>
            <a href="/#contacts">Контакты</a>
          </li>
        </ul>
        
        <p>
          <a href="/joystick/<%= @joystick.hash_code %>" target="_blank">JOYSTICK #<%= @joystick.id %></a>
        </p>
        <input type="hidden" name="joystick_hash" value="<%= @joystick.hash_code %>">
      </div>
    </div>

    <div class="main_content">
      <div class="content">
        <%= yield %>
      </div>
    </div> 
  </div>   
</body>
</html>
