<!DOCTYPE html>
<html>
  <head>
    <title>PetrovSmile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "#{controller_name}/#{action_name}", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application",:defer => "defer" %>
    <%= javascript_include_tag "#{controller_name}/#{action_name}",:defer => "defer" %>

  </head>

  <body>

    <div class="left_menu">
      <div class="content">
        <img class="left_menu_avatar" src="/img/index/avatar.png" alt="">
        <ul class="left_menu_ul">
          <li>
            <a href="">Hello world! <--</a>
          </li>
          <li>
            <a href="">Опыт работы</a>
          </li>
          <li>
            <a href="">Портфолио</a>
          </li>
          <li>
            <a href="">Обо мне</a>
          </li>
          <li>
            <a href="">Контакты</a>
          </li>
         
        </ul>
      </div>
      
    </div>
    
    <div class="main_content">
      <div class="content">
        <%= yield %>
      </div>
      
    </div>

    
  </body>
</html>
