<!DOCTYPE html>
<html>
<head>
  <title>Петров Александр. Резюме.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "#{controller_name}/#{action_name}", "data-turbo-track": "reload" %>

  <%= javascript_include_tag "application",:defer => "defer" %>
  <%= javascript_include_tag "#{controller_name}/#{action_name}",:defer => "defer" %>

</head>

<body>

  <div class="wrap">
    <div class="left_menu">
      <div class="content">
        <a href="/">
          <img class="left_menu_avatar" src="/img/index/avatar.png" alt="">
        </a>
        <ul class="main_menu">
          <li class="active">
            <a href="/#hello">Hello world!</a>
          </li>
          <li>
            <a href="/#work_experience">Опыт работы</a>
          </li>
          <li>
            <a href="/#portfolio">Портфолио</a>
          </li>
          <li>
            <a href="/#about_me">Обо мне</a>
          </li>
          <li>
            <a href="/#contacts">Контакты</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main_content">
      <div class="content">
        <%= yield %>
      </div>
    </div> 
  </div>  
  
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(90658791, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/90658791" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

</body>
</html>
