<!DOCTYPE html>
<html>
  <head>
    <title>Джойстик</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "#{controller_name}/#{action_name}", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "#{controller_name}/#{action_name}",:defer => "defer" %>
  
  </head>

  <body>

    <%= yield %>  
  </body>
</html>
